body { 
margin: 400px;
  margin-top:500px;
  margin-bottom:200px;
font-family:Gisha;
text-align: center;
  background:#99994d;
}
a{
  text-decoration:none;
  color:blue;
}
a:hover {
    color: #9966ff;
}
h1{
  font-size:3em;
  letter-spacing:10px;
  color:white;
   font-weight: lighter;
}
h2{
  margin-top:30px;
  font-size:1.5em;
  letter-spacing:1px;
  color:white;
   font-weight: lighter;
}
h3{
  margin-top:70px;
  font-size:1.2em;
  text-align:justify;
  color:white;
   font-weight: lighter;
  width:500px;
}
h4{
  margin-top:150px;
  font-size:1.1em;
  letter-spacing:1px;
  color:white;
   font-weight: lighter;
}
h5{
  margin-top:70px;
  margin-bottom:130px;
  font-size:2em;
  letter-spacing:1px;
  color:white;
   font-weight: lighter;
}
h6{
  margin-top:70px;
  font-size:1em;
  text-align:center;
  color:white;
   font-weight: lighter;
}
p{
  margin-top:40px;
  text-align:justify;
   font-size:0,8em;
  align-items:center;
  line-height:1.5;
  color:white; 
  width:700px;
  margin-bottom:0.5px;
}
ul{
  margin-top:30px;
  list-style-type:none;
  text-align:center;
  font-size:0.9em;
  list-style-position:outside;
  columns:3;
  column-gap: 50px;
  line-height:1.5;
  color:white;
}
#partefinal{
  text-align:center;
  margin-top:100px;
  color:white;
}
hr {
  height: 20px;
  background-color: white;
  width:2000px;
  margin-left:0px;
  margin-right:0px;
}
.linea{
  width: 100%;
    padding: 70px;
    margin:0px;
    box-sizing: padding-box;
    border-bottom: 5px solid white;
    background-size: cover;
}









