
  body { 
  margin-bottom:200px;
font-family:Gisha;
text-align: center;
  background:#99994d;
    margin:0;
  
}
a{
  text-decoration:none;
  color:blue;
}
a:hover {
    color: #9966ff;
}
h1{
  font-size:3em;
  letter-spacing:10px;
  color:white;
   font-weight: lighter;
  }
 
h2{
  margin-top:30px;
  font-size:1.5em;
  letter-spacing:1px;
  color:white;
   font-weight: lighter;
}
h3{
  margin-top:70px;
  font-size:1.2em;
  text-align:justify;
  color:white;
   font-weight: lighter;
  width:500px;
  margin-left:30%;
  
}
h4{
  margin-top:100px;
  font-size:2em;
  letter-spacing:1px;
  color:white;
   font-weight: lighter;
  margin-left:30%;
  text-align:center;
  width:500px;
 
  
}
h5{
  margin-top:80px;
  margin-bottom:130px;
  font-size:2em;
  letter-spacing:1px;
  color:white;
   font-weight: lighter;
    border:white 2px solid;
  padding:20px;
  width:700px;
  margin-left:20%;
}
h6{
  margin-top:70px;
  font-size:1em;
  text-align:center;
  color:white;
   font-weight: lighter;
}
p{
  margin-top:40px;
  text-align:justify;
   font-size:0,8em;
  align-items:center;
  line-height:1.5;
  color:white; 
  width:500px;
  margin-bottom:0.5px;
  margin-left:30%;
}
ul{
  margin-top:30px;
  list-style-type:none;
  text-align:center;
  font-size:em;
  list-style-position:outside;
  columns:3;
  column-gap: 50px;
  line-height:1.5;
  color:white;
  column-rule-style: solid;
   column-rule-width: 1px;
}
#partefinal{
  text-align:center;
  margin-top:100px;
  color:white;
  margin-bottom:100px;
     background: white no-repeat center center;
  background-size: cover;
  height: 50px;
  padding-top:50px;
  margin:0;
  opacity:0.9;
}
hr {
  height: 50px;
  background-color: white;
  width:2000px;
  margin-left:0px;
  margin-right:0px;
}
.linea{
  width: 100%;
    padding: 70px;
    margin:0px;
    box-sizing: padding-box;
    border-bottom: 90px solid white;
    background-size: cover;

}
.encabezado {
   background: url(http://3.bp.blogspot.com/-loswqF-T1gA/VczD5LSpS2I/AAAAAAAAmac/hgh34FDUoto/s1600/tumblr_m1248aN9jP1r5mst4o1_500.jpg) no-repeat center center;
  background-size: cover;
  height: 350px;
  padding-top:500px;
 left:0px;  
  opacity:0.7;
}
  


